<h1>All Mechanics:</h1>

  <% @mechanics.each do |mechanic| %>
    <p><%= mechanic.name %></p>
    <p><%= mechanic.years_experience %></p>
  <% end %>



  <p><%= @mechanics.average("years_experience").round(2) %></p>
