<h1>All Mechanics</h1>

<% @mechanics.each do |mechanic| %>
  <h2>Name: <%= mechanic.name %></h2>
  <h2>Years Experience: <%= mechanic.years_experience %></h2>
<% end %>

<br>

<h2>Average Years Experience: </h2>
