<div>
  <header id="header">
    <h1>All Mechanics</h1>
    <p>Average Years of Experience: <%= @mechanics.average_years %> years</p>
  </header>
  <ul id="index">
    <% @mechanics.each do |mechanic| %>
      <p>Name: <%= mechanic.name %></p>
      <p>Years of Experience: <%= mechanic.years_experience %></p>
    <% end %>
  </ul>
</div>
