<%= render 'header' %>
<% @mechanics.each do |mechanic| %>
<div id="mechanic-<%= mechanic.id %>">
  <h3><%= mechanic.name %></h3>
<p>Years of experience: <%= mechanic.years_experience %></p></div>
<% end %>
