<h1> All Mechanics </h1>

<% @mechanics.each do |mechanic| %>
  <div id="mechanic-<%= mechanic.id %>">
  <p><%= mechanic.name %></p>
  <p>Years of experience: <%= mechanic.years_experience %></p>
  </div>
<% end %>

<h3> Average years of experience: <%= Mechanic.average_years_experience %> </h3>