<h1>All Mechanics</h1>
<% @mechanics.each do |mechanic| %>
  <div id="mechanic-<%= mechanic.id %>">
  <p>Name: <%= mechanic.name %> </p>
  <p>Experience: <%= mechanic.years_experience %> </p>
  </div>
  <hr>
<% end %>
<h2>Average years of experience: <%= @mechanics.ave_years_exp %> </h2>
