<h1><%= @mechanic.name %></h1>

<div id="mechanic">
<h4>Years of experience:</h4> <%= @mechanic.years_experience %>
<h4>Rides working on:</h4>
<% @mechanic.rides.each do |ride| %>
  <p><%= ride.name %></p>
<% end %>
</div>

<div id="open-rides">
<h4>Open rides</h4>
<% @mechanic.best_thrill_rating.each do |ride| %>
  <p><%= ride.name %></p>
<% end %>
</div>
