<h1>Mechanic: <%= @mechanic.name %></h1>
<p>Years of Experience: <%= @mechanic.years_experience %></p>
<br>
<h2>Open Rides: </h2>
<% @open_rides.each do |ride| %>
    <p><%= ride.name %></p>
<% end %>
