<h1> <%= @mechanic.name %> </h1>

<h4> Years of Experience: <%= @mechanic.years_experience %> </h4><hr/>
<div id="rides">
  <% @mechanic.thrill_sort.each do |ride| %>
    <h2><%= ride.name if ride.open %></h2>
    <hr/>
  <% end %>
</div>
