<h3>Name: <%= @mechanic.name %></h3>
<p>Experience: <%= @mechanic.years_experience %></p>
<p>Rides: <% @mechanic.rides.by_thrill.each do |ride| %>
  <% if ride.open == true %>
  <p><%= ride.name %></p> 
  <% end %>
  <% end %>
</p>
