<h1><%= @mechanic.name %></h1>
<h5>Years of experience: <%=@mechanic.years_experience %></h5>

<h3>Rides Currently Working On</h3>
<% @mechanic.order_by_thrill.each do |ride| %>
<% if ride.open %>
<p><%=ride.name%></p>
<% end %>
<% end %>
